{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body>
    <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href=""><cite>{% block nav %}  {% endblock %}</cite></a>
            </span>
        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
        </a>
    </div>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">

                    {#    搜索    #}
                    <div class="layui-card-body ">
                        {% block search %}
                            <form class="layui-form layui-col-space5" method="post">
                                {% csrf_token %}
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="项目名称" name="projectNameInput"
                                           id="projectNameInput">
                                </div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="sreach" type="submit">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        {% endblock %}
                    </div>
                    {#    搜索结束    #}

                    <div class="layui-card-header">
                        <button class="layui-btn" onclick="xadmin.open('添加项目','/apply/',450,600)">
                            <i class="layui-icon"></i>添加
                        </button>
                    </div>

                    {#    内容    #}
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            {% block tkey %}
                            {% endblock %}
                            </thead>
                            <tbody>
                            {% block tbody %}
                            {% endblock %}
                            </tbody>
                        </table>
                    </div>
                    {#    内容结束    #}

                    {#    分页    #}
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                {% block page %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    {#    分页结束    #}

                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}
