{% extends 'base.html' %}
{% load static %}

{% block body %}
    <body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
                        <div id="main" style="width: 100%;height:400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '气温特征'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['多年平均气温', '多年极端最高气温', '多年极端最低气温']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['忻府区豆罗镇', '黄龙县三岔镇',
                    '阳山县黎埠镇', '江英镇上坪村',
                    '阳山县七拱镇', '尼勒克县乌赞乡',
                    '定安县新竹镇', '青海省海南州',
                    '平山县岗南镇 ', '科尔沁左翼后旗', '科尔沁左翼后旗'
                ]
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '多年平均气温',
                    type: 'line',
                    stack: '总量',
                    data: {{ avg_tem }}
                },
                {
                    name: '多年极端最高气温',
                    type: 'line',
                    stack: '总量',
                    data: {{ max_tem }}
                },
                {
                    name: '多年极端最低气温',
                    type: 'line',
                    stack: '总量',
                    data: {{ min_tem }}
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    </body>
{% endblock %}