{% extends 'base-list.html' %}
{% load static %}

{% block nav %}
    主要气象特征要素
{% endblock %}

{% block search %}
    <form class="layui-form layui-col-space5" method="post">
        {% csrf_token %}
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="项目名称" name="projectNameInput"
                   id="projectNameInput">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="多年平均气温大于" name="avgTemperature"
                   id="avgTemperature">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="多年最大冻土深度(cm)大于" name="breakingGroundDepth"
                   id="breakingGroundDepth">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="多年平均风速大于" name="avgSpeed"
                   id="avgSpeed">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <button class="layui-btn" lay-submit="" lay-filter="sreach" type="submit">
                <i class="layui-icon">&#xe615;</i></button>
        </div>
    </form>
{% endblock %}

{% block tkey %}
    <tr>
        <th>项目序号</th>
        <th>项目名称</th>
        <th>多年平均气温(℃)</th>
        <th>多年极端最高气温(℃)</th>
        <th>多年极端最低气温(℃)</th>
        <th>最热月平均气温(℃)</th>
        <th>多年最大冻土深度(cm)</th>
        <th>多年平均风速(m/s)</th>
        <th>多年最大风速(m/s)</th>
        <th>多年平均雷暴日数(d)</th>
        <th>污秽等级</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for project in all_projects.object_list %}
        <tr>
            <td>{{ project.projectNo.projectNo }}</td>
            <td>{{ project.projectNo.projectName }}</td>
            <td>{{ project.avgTemperature }}</td>
            <td>{{ project.maxTemperature }}</td>
            <td>{{ project.minTemperature }}</td>
            <td>{{ project.avgMonthTemperature }}</td>
            <td>{{ project.breakingGroundDepth }}</td>
            <td>{{ project.avgSpeed }}</td>
            <td>{{ project.maxSpeed }}</td>
            <td>{{ project.rainyDays }}</td>
            <td>{{ project.pollutionLevel }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block page %}
    {{ all_projects.render }}
{% endblock %}