{% extends 'base-list.html' %}
{% load static %}

{% block nav %}
    厂址概况
{% endblock %}

{% block search %}
    <form class="layui-form layui-col-space5" method="post">
        {% csrf_token %}
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="项目名称" name="projectNameInput"
                   id="projectNameInput">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="项目地址" name="location"
                   id="location">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="安装容量大于" name="capacity"
                   id="capacity">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="用地面积(亩)大于" name="area"
                   id="area">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="水平太阳总辐射MJ大于" name="radiationMJ"
                   id="radiationMJ">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <button class="layui-btn" lay-submit="" lay-filter="sreach" type="submit">
                <i class="layui-icon">&#xe615;</i></button>
        </div>
    </form>
{% endblock %}

{% block tkey %}
    <tr>
        <th>项目序号</th>
        <th>项目名称</th>
        <th>项目地址</th>
        <th>安装容量(MWp)</th>
        <th>用地面积(亩)</th>
        <th>海拔高度(m)</th>
        <th>经度(°′ ″)</th>
        <th>纬度(°′ ″)</th>
        <th>水平太阳总辐射MJ(MJ/m²)</th>
        <th>水平太阳总辐射kwh(kwh/m²)</th>
        <th>最佳辐射量倾角(°)</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for project in all_projects.object_list %}
        <tr>
            <td>{{ project.projectNo.projectNo }}</td>
            <td>{{ project.projectNo.projectName }}</td>
            <td>{{ project.location }}</td>
            <td>{{ project.capacity }}</td>
            <td>{{ project.area }}</td>
            <td>{{ project.altitude }}</td>
            <td>{{ project.longtitude }}</td>
            <td>{{ project.latitude }}</td>
            <td>{{ project.radiationMJ }}</td>
            <td>{{ project.radiationkwh }}</td>
            <td>{{ project.dipAngle }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block page %}
    {{ all_projects.render }}
{% endblock %}