{% extends 'base-list.html' %}
{% load static %}

{% block nav %}
    项目概况
{% endblock %}

{% block search %}
    <form class="layui-form layui-col-space5" method="post">
        {% csrf_token %}
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="项目名称" name="projectNameInput"
                   id="projectNameInput">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <!--select lay-verify="" lay-filter="test" placeholder="项目类型" name="projectType"
                    id="projectType">
                <option value ="volvo">山地光伏</option>
                <option value ="saab">平地光伏</option>
                <option value="opel">屋顶光伏</option>
            </select-->
            <input class="layui-input" placeholder="项目类型(山地、平地、屋顶)" name="projectType"
                   id="projectType">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="项目阶段(可研，技术评判)" name="projectStage"
                   id="projectStage">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <input class="layui-input" placeholder="设计单位" name="projectDesign"
                   id="projectDesign">
        </div>
        <div class="layui-input-inline layui-show-xs-block">
            <button class="layui-btn" lay-submit="" lay-filter="sreach" type="submit">
                <i class="layui-icon">&#xe615;</i></button>
        </div>
    </form>
{% endblock %}



{% block tkey %}
    <tr>
        <th>项目序号</th>
        <th>项目名称</th>
        <th>项目类型</th>
        <th>项目阶段</th>
        <th>项目业主</th>
        <th>项目业主所属集团</th>
        <th>设计单位</th>
        <th>日期</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for project in all_projects.object_list %}
        <tr>
            <td>{{ project.projectNo }}</td>
            <td>{{ project.projectName }}</td>
            <td>{{ project.projectType }}</td>
            <td>{{ project.projectStage }}</td>
            <td>{{ project.projectHost }}</td>
            <td>{{ project.projectHostGroup }}</td>
            <td>{{ project.projectDesign }}</td>
            <td>{{ project.projectDate }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block page %}
    {{ all_projects.render }}
{% endblock %}